.poste{
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1000;;
    background-color: rgba(255, 255, 255, 0.2);
}