#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

body { /* Ou le nom de votre conteneur parent */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    min-height: 100vh;       /* Assure que le parent prend toute la hauteur de l'écran */
    margin: 0;               /* Enlève les marges par défaut */
}
